*{
	margin: 0px;
	padding: 0px;
	font-family: Georgia;
	font-size: 10pt;
	line-height: 1.5;
}
#tieude{
	font-weight: bolder;
	font-size: 15pt;
	text-transform: uppercase;
	text-align: center;

}
label{
	display: block;
	font-weight: bolder;
}
form{
	width: 100%;
	background-color: #ffccb3;
	max-width: 500px;
	padding: 30px 25px;
	margin: auto;
	border-radius: 8px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.form-control{
	width: 99%;
	margin: 8px 0px;
}
.button{
	background-color: #b399ff;
	padding:2px;
	width: 100px;
	padding: 8px 16px;       
	border-radius: 6px;
}
.gender-group{
    display: flex;   
    align-items: center; 
    gap: 10px;          
}
.hobbies-group{
	display: flex;   
    align-items: center; 
    gap: 10px;       
	
}
body{
	font-family: Georgia;
	background-color: #9cbef0; 
    display: flex;
	justify-content: center;   
    align-items: center;
	min-height: 100vh;
}


	


	